<!DOCTYPE html>
<html>
  <head>
    <title>April & Bryan's Wedding 1-7-17</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" media="screen" title="no title" charset="utf-8">
    <%= stylesheet_tag 'application' %>
    <%= javascript_tag 'application' %>
    <script src="https://use.typekit.net/qhf0gjj.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
