%section.half-height.centered
  .container
    .row#ceremony
      .six.columns
        .image-frame.st-francis
      .six.columns
        %h2#ceremony Ceremony
        %p
          %a(href="http://www.stfoafrisco.org" target="_blank")<
            Saint Francis of Assisi Catholic Church
          in
          = succeed ',' do
            %a(href="https://www.google.com/maps/place/8000+Eldorado+Pkwy,+Frisco,+TX+75033/@33.1748889,-96.8156128,17z/data=!3m1!4b1!4m2!3m1!1s0x864c3e97e0ebd54f:0x1acbab8cbb6ad716" target="_blank")<
              Frisco
          TX is where our wedding ceremony will start at 1:30 PM.
