%section.half-height.centered
  .container
    .row
      .twelve.columns
        %h2 Where to Eat
        %p
          Here are a few restaurants, markets & bars in Grapevine that we recommend you check out during your stay with us.
    .row
      .four.columns
        %ul
          %li
            %a(href="http://eatzis.com" target="_blank") Eatzi's Market & Bakery
          %li
            %a(href="http://www.breadhaus.com") BreadHaus Bakery
          %li
            %a(href="http://elfenix.com") El Fenix Mexican Restaurant
          %li
            %a(href="http://oldwestcafe.us") Old West Cafe
          %li
            %a(href="http://www.midiafromscratch.com/index.htm") Mi Dia From Scratch
          %li
            %a(href="https://www.chuys.com") Chuy's
          %li
            %a(href="http://www.esparzastexas.com/home") Esparza's Restaurante Mexicano
          %li
            %a(href="http://lamadeleine.com") La Madeleine Country French Cafe
      .four.columns
        %ul
          %li
            %a(href="http://edohana.com/index.html") Edohana Hibachi Sushi
          %li
            %a(href="http://www.pappadeaux.com/menu/") Pappadeaux Seafood Kitchen
          %li
            %a(href="http://www.pluckers.com/menu/")
              Pluckers Wing Bar
          %li
            %a(href="http://www.cantinalaredo.com/location/grapevine-texas/")
              Cantina Laredo
          %li
            %a(href="https://www.texasroadhouse.com/restaurant-locations/texas/flower-mound") Texas Roadhouse
          %li
            %a(href="http://www.saltgrass.com")
              Saltgrass Steakhouse
          %li
            %a(href="http://www.meatuanywhere.com") Meat U Anywhere BBQ
          %li
            %a(href="http://www.hardeightbbq.com") Hard Eight BBQ
          %li
            %a(href="http://bobs-steakandchop.com/grapevine/") Bob's Steak & Chophouse
      .four.columns
        %ul
          %li
            %a(href="http://www.crackerbarrel.com") Cracker Barrel Country Store
          %li
            %a(href="https://www.outback.com") Outback Steakhouse
          %li
            %a(href="http://www.thecheesecakefactory.com/#") The Cheesecake Factory
          %li
            %a(href="http://www.riomambo.com/Locations/rio-mambo-addison/") Rio Mambo Tex Mex Y Mas
          %li
            %a(href="http://www.willhoites.com") Whilhoite's Restaurant
          %li
            %a(href="http://www.firesidepies.com") Fireside Pies
          %li
            %a(href="http://www.tolbertsrestaurant.com")
              Tolbert's Restaurant
          %li
            %a(href="http://www.grimaldispizzeria.com") Grimaldi's Coal Brick Oven Pizzeria

%section.full-height.centered
  .container
    .row
      .twelve.columns
        %h2 What to Do
        %p
          Discover the
          %q Wine Capital of Texas
          ,
          %a(href="http://www.grapevinetexasusa.com" target="_blank")      Grapevine
          while you are in town for our wedding celebration. Centrally located between Dallas & Fort Worth, Grapevine offers local wineries & a
          %a(href="http://www.grapevinetexasusa.com/shop-wine-dine/downtown/" target="_blank") historic downtown
          = "."
        %br
    .row#attractions
      .twelve.columns
        %ul
          %li
            %a( href="http://www.basspro.com/webapp/wcs/stores/servlet/CFPageC?storeId=10151&catalogId=10051&langId=-1&appID=94&storeID=18&tab=3&cm_sp=Store005Apr2013_RD&cm_ven=redirect&cm_cat=mktg&cm_pla=bps&cm_ite=grapevine" target="_blank")
              Bass Pro Shop Outdoor World
          %li
            %a(href="http://www.simon.com/mall/grapevine-mills" target="_blank")
              Grapevine Mills Mall
          %li
            %a(href="http://www.grapevinetexasusa.com/Palace-theatre/" target="_blank") Grapevine Opry at the Palace Theater
          %li
            %a( href="http://www.grapevinetexasusa.com/grapevine-vintage-railroad/" target="_blank")
              Grapevine Vintage Railroad
          %li
            %a(href="http://vetroartglass.com" target="_blank")
              Vetro Glassblowing Studio & Gallery
          %li
            %a(href="https://www.visitsealife.com/grapevine/" target="_blank")
              SEA LIFE Aquarium
          %li
            %a(href="https://www.legolanddiscoverycenter.com/dallasfw/" target="_blank")
              LEGOLAND&reg Discovery Center
          %li
            %a(href="http://www.lake-grapevine.com" target="_blank")
              Lake Grapevine
          %li
            %a(href="http://www.lake-lewisville.org" target="_blank")
              Lake Lewisville
    .row
      .twelve.columns
        %p And if you feel like venturing out further...
    .row
      .four.columns
        %ul
          %a(href="http://www.fortworth.com")
            %h4 Fort Worth
          %li
            %a(href="http://www.fortworthstockyards.org" target="_blank")
              Fort Worth Stockyards & Downtown
          %li
            %a(href="http://www.fwmuseum.org" target="_blank")
              Fort Worth Museum of Science & History
          %li
            %a(href="http://www.casamanana.org" target="_blank")
              Casa Manana
          %li
            %a(href="https://www.fortworthzoo.org" target="_blank")
              Fort Worth Zoo
          %li
            %a(href="http://www.fwbg.org/gardens/#/the-japanese-garden/" target="_blank")
              Fort Worth Japanese Garden
          %li
            %a(href="http://www.fwbg.org" target="_blank")
              Fort Worth Botanic Gardens
          %li
            %a(href="https://en.wikipedia.org/wiki/Fort_Worth_Water_Gardens")
              Fort Worth Water Gardens
          %li
            %a(href="https://www.kimbellart.org" target="_blank")
              Kimball Art Museum
          %li
            %a(href="http://www.themodern.org" target="_blank")
              Modern Art Museum
          %li
            %a(href="http://www.basshall.com")
              Bass Performance Hall
          %li
            %a(href="http://www.texasmotorspeedway.com")
              Texas Motor Speedway
          %li
            %a(href="http://www.fossilrim.org" target="_blank") Fossil Rim Wildlife Center
      .four.columns
        %ul
          %li
            %a(href="http://www.arlington.org/plan/visitor-welcome-center/" target="_blank")
              %h4 Arlington
            %span= '/'
            %a(href="http://www.visitgrandprairietx.com" target="_blank")
              %h4
                Grand Prairie
          %li
            %a(href="http://texas.rangers.mlb.com/tex/ballpark/index.jsp" target="_blank")
              The Texas Rangers Globe Life Park in Arlington
          %li
            %a(href="http://stadium.dallascowboys.com" target="_blank")
              AT&T Dallas Cowboys Stadium
          %li
            %a(href="https://www.sixflags.com/overtexas" target="_blank")
              Six Flags Over Texas
          %li
            %a(href="http://www.lonestarpark.com/home.aspx" target="_blank") Lone Star Race Track
      .four.columns
        %ul
          %li
            %a(href="http://www.visitdallas.com" target="_blank")
              %h4
                Dallas
          %li
            %a(href="http://www.klydewarrenpark.org" target="_blank")
              Klyde Warren Park
          %li
            %a(href="http://www.galleriadallas.com" target="_blank")
              The Galleria
          %li
            %a(href="http://www.bishopartsdistrict.com/home" target="_blank") Bishop Arts District
          %li
            %a(href="http://dallasfarmersmarket.org" target="_blank") Dallas Farmers Market
          %li
            %a(href="http://www.dallaszoo.com" target="_blank") Dallas Zoo
          %li
            %a(href="http://www.dallasarboretum.org" target="_blank") Dallas Arboretum
          %li
            %a(href="http://www.jfk.org" target="_blank") Sixth Floor Museum at Dealey Plaza
          %li
            %a(href="http://www.americanairlinescenter.com/index.php" target="blank") American Airlines Center
          %li
            %a(href="http://www.dwazoo.com" target="_blank") Dallas World Aquarium
          %li
            %a(href="http://www.perotmuseum.org" target="_blank") The Perot Museum
          %li
            %a(href="https://www.dma.org" target="_blank") Dallas Modern Art Museum
          %li
            %a(href="http://deepellumtexas.com" target="_blank")
              Deep Ellum
          %li
            %a(href="http://www.dallaswestend.org" target="_blank")
              West End

%section.full-height.centered.parallax(data-parallax="scroll" data-image-src="./images/pics_of_us/bridge.jpg")
