%section.half-height.centered
  .container
    .row#hotels
      .twelve.columns
        %h2 Where to Stay
        %a.image( href="http://hamptoninn3.hilton.com/en/hotels/texas/hampton-inn-and-suites-dallas-dfw-airport-north-grapevine-DALGPHX/index.html" target="_blank")
          %img(src="/images/hotel_logos/hampton.jpeg")
        %br 1750 North Highway 121
        %br Grapevine, Texas 76051
        %br 1-800-426-7866 (long distance) or 972-471-5000 (local)
        %br
        %br
        %p
          Guests of our wedding may enjoy a complimentary breakfast as well as a complimentary shuttle to & from
          %a(href="https://www.dfwairport.com" target="_blank")
            Dallas/Fort Worth International Airport
          & within a three mile radius of the hotel.
        %p
          Please book a room by phone or online before midnight December 23, 2016 to take advantage of our special rates, mention the Gross & Mikaelian wedding along with your dates of travel when calling.
        %a(href="http://hamptoninn.hilton.com/en/hp/groups/personalized/D/DALGPHX-GMW-20170105/index.jhtml?WT.mc_id=POG" target="_blank")
          Book a Room Online
