%section.half-height.centered
  .container
    .row#locations
      .six.columns
        %h2 Reception
        %p
          %a(href="http://thelaureltexas.com" target="_blank")<
            The Laurel
          in
          = succeed ',' do
            %a(href="https://www.google.com/maps/place/2040+Enchanted+Way,+Grapevine,+TX+76051/@32.9576122,-97.0386641,17z/data=!3m1!4b1!4m2!3m1!1s0x864c2b904b3ed9b3:0x2a1b6c567f04169f" target="_blank")<
              Grapevine
          TX is where the cocktail hour & our reception will be following the ceremony.
      .six.columns
        .image-frame.the-laurel
