%section.half-height.centered#stories
  .container
    .row.shadowed
      .four.columns
        %h2 Our Story
      .eight.columns
        %h4 How We Met
        %p<
          Bacon ipsum dolor amet ground round porchetta sausage pig tenderloin ball tip tri-tip sirloin pork belly. Andouille meatloaf salami landjaeger tenderloin leberkas meatball turducken chicken fatback tail. Chuck pancetta filet mignon tail bresaola biltong, pork alcatra sausage beef hamburger boudin. Corned beef alcatra short loin porchetta tenderloin meatloaf prosciutto pork chop pig chuck hamburger bacon tail tongue. Pork chop bacon spare ribs strip steak venison. Frankfurter spare ribs corned beef turducken pork chop ground round jerky swine flank. Meatball ball tip meatloaf swine strip steak porchetta biltong sausage tail landjaeger chicken spare ribs.
        %h4 The Proposal
        %p<
          Bacon ipsum dolor amet ground round porchetta sausage pig tenderloin ball tip tri-tip sirloin pork belly. Andouille meatloaf salami landjaeger tenderloin leberkas meatball turducken chicken fatback tail. Chuck pancetta filet mignon tail bresaola biltong, pork alcatra sausage beef hamburger boudin. Corned beef alcatra short loin porchetta tenderloin meatloaf prosciutto pork chop pig chuck hamburger bacon tail tongue. Pork chop bacon spare ribs strip steak venison. Frankfurter spare ribs corned beef turducken pork chop ground round jerky swine flank. Meatball ball tip meatloaf swine strip steak porchetta biltong sausage tail landjaeger chicken spare ribs.
