%section.half-height.centered#stories
  .container
    .row.shadowed
      .four.columns#heading
        %h2 Our Story
      .eight.columns#content
        %h4 How We Met
        %p Back in 2009, Bryan accepted a job at a software company in Las Colinas, TX. Little did he know that, at the time, that he would meet his future wife through mutual friends. In January 2010, Bryan and April met each other at a local band's concert at the Ridglea Theater in Fort Worth, TX. However, this ended up being just as a casual encounter. It wouldn't be till later until April and Bryan started to get to know each other.

        %p Several months later, Bryan and April again met each other at another local band's show, this time at the Skillman Street Pub in Garland, TX. This time, both of them hit it off. Through several conversations on Facebook and text, Bryan and April began to get to know each other and started developing feelings for each other. It was on September 2nd, 2010 that Bryan asked April out and their journey together began. Bryan had, unfortunately, planned a road trip to the Hatch Chili Festival and that caused Bryan and April spend the first few days of their relationship away from each other. However, this was just minor bump in the road. Their relationship grew stronger each year, eventually moving in with each other in 2011. After 4 years of being together and growing stronger as couple, the next chapter in their life was about to begin: marriage.

        %h4 The Proposal
        %p<
          Bacon ipsum dolor amet ground round porchetta sausage pig tenderloin ball tip tri-tip sirloin pork belly. Andouille meatloaf salami landjaeger tenderloin leberkas meatball turducken chicken fatback tail. Chuck pancetta filet mignon tail bresaola biltong, pork alcatra sausage beef hamburger boudin. Corned beef alcatra short loin porchetta tenderloin meatloaf prosciutto pork chop pig chuck hamburger bacon tail tongue. Pork chop bacon spare ribs strip steak venison. Frankfurter spare ribs corned beef turducken pork chop ground round jerky swine flank. Meatball ball tip meatloaf swine strip steak porchetta biltong sausage tail landjaeger chicken spare ribs.
