%section.half-height.centered
  .container
    .row#crew
      %h2 Wedding Party
    .row#party
      .six.columns
        %h4 Bridal Party
        %ul
          %li
            %img(src="http://graph.facebook.com/100001003005124/picture?type=large")
            Alannah Bowman, Matron of Honor
          %li
            %img(src="http://graph.facebook.com/100001074556663/picture?type=large")
            Amanda Skidmore, Matron of Honor
          %li
            %img(src="http://graph.facebook.com/100003320097636/picture?type=large")
            Jill Houser, Bridesmaid
          %li
            %img(src="http://graph.facebook.com/63500014/picture?type=large")
            Emma Rhodes, Bridesmaid
          %li
            %img(src="https://scontent-mia1-2.cdninstagram.com/t51.2885-15/e35/13597676_215931282135909_912483274_n.jpg?ig_cache_key=MTI5MjIzNzAxNTk2OTk2ODE3OQ%3D%3D.2")
            Briannah Skidmore, Junior Bridesmaid
      .six.columns
        %h4 Groom's Party
        %ul
          %li
            %img(src="http://graph.facebook.com/100000200632384/picture?type=large")
            Sean McGregor, Best Man
          %li
            %img(src="http://graph.facebook.com/100000562698505/picture?type=large")
            Alex Vernier, Groomsman
          %li
            %img(src="https://media.licdn.com/media/AAEAAQAAAAAAAAD2AAAAJGI1ZjdkNTQ0LTYyNDYtNDQxMi05MDhjLTM5N2Q3NTY0NjE4Ng.jpg")
            Zachary Skidmore, Groomsman
          %li
            %img(src="http://graph.facebook.com/100001025752749/picture?type=large")
            Mitchael Bowman, Groomsman
    .row
      .twelve.columns
        %h4 Ring Bearers
    .row#kids
      .twelve.columns
        %ul
          %li
            %img(src="https://scontent-mia1-2.cdninstagram.com/t51.2885-15/e35/11246510_1386690021629721_97922240_n.jpg?ig_cache_key=MTAzODYwMTI5NzIxMTM3NzIxOA%3D%3D.2")
            Lucas Bowman
          %li
            %img(src="https://scontent-mia1-2.cdninstagram.com/t51.2885-15/e35/13768269_852697241530413_1197028158_n.jpg?ig_cache_key=MTMwMTczMDYyOTkxODEyNzYyNg%3D%3D.2")
            Declan Skidmore
    .row#families
      .six.columns
        %h4 The Bride's Family
        %ul
          %li
            %img(src="./images/avatars/Mom.jpg")
            the late Marietsa Gross, Mother of the Bride
          %li
            %img(src="./images/avatars/GuyStephanie.jpg")
            Guy Gross, Father of the Bride & Stephanie Gross, Stepmother of the Bride
          %li
            %img(src="./images/avatars/JeanneMarty.jpg")
            Jeanne & Marty Vangundy, Godparents of the Bride
          %li
            %img(src="./images/avatars/Pat.jpg")
            Patricia Moore, Grandmother of the Bride
          %li
            %img(src="./images/avatars/Jack.jpg")
            Jack Todd, Grandfather of the Bride
      .six.columns
        %h4 The Groom's Family
        %ul
          %li
            %img(src="./images/avatars/JoAnneSoren.jpg")
            Soren & Jo Anne Mikaelian, Father & Mother of the Groom
          %li
            %img(src="./images/avatars/Susie.jpg")
            Susan Chadwick, Aunt & Godmother of the Groom

%section.full-height.centered.parallax(data-parallax="scroll" data-image-src="./images/pics_of_us/ring.jpg")
