<div class="container">
<div class="row" id="page-header">
  <div class="twelve columns">
    <h1>April & Bryan</h1>
    <h1>January 7, 2017</h1>
    <hr />
  </div>
</div>
<div class="row" id="stories">
  <div class="twelve columns">
    <h1>Our Story</h1>
    <p></p>
    <h3>How We Met</h3>
    <p></p>
    <h3>The Proposal</h3>
    <p></p>
  </div>
</div>
<hr />
<div class="row" id="locations">
  <div class="twelve columns">
    <p>
      <h1>Ceremony</h1>
      Our wedding ceremony will be a full Catholic Mass held at Saint Francis of Assisi Catholic Church in Frisco, TX at 1:30 PM on January 7, 2017.
      <p>
        <a href="http://www.stfoafrisco.org" target="_blank">Saint Francis of Assisi Catholic Church</a>
        <br />
        8000 Eldorado Parkway, Frisco, Texas  75033
        <br />
        +1.972.712.2645
        <br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3339.448756836823!2d-96.81582578445337!3d33.176095880853424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c3e97d5f3de9d%3A0x6a735743467186db!2s8000+Eldorado+Pkwy%2C+Frisco%2C+TX+75033!5e0!3m2!1sen!2sus!4v1456940493460" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </p>
      <br />
      <h1>Reception</h1>
      Cocktail hour & Reception will be following the ceremony at The Laurel in Grapevine, TX at 4 PM.
      <p>
        <a href="http://thelaureltexas.com" target="_blank">The Laurel</a>
        <br />
        2040 Enchanted Way, Grapevine, Texas  76051
        <br />
        +1.817.617.7400
        <br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.7348385044183!2d-97.03866128445807!3d32.9580094809178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c2b904b3ed9b3%3A0x8f4d2ac489097968!2s2040+Enchanted+Way%2C+Grapevine%2C+TX+76051!5e0!3m2!1sen!2sus!4v1456940627874" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <br />
      </p>
    </p>
  </div>
</div>
<hr />
<div class="row" id="crew">
  <div class="twelve columns">
    <h1>Wedding Party</h1>
    <p>
      We would like to introduce the members our wedding party.
      <br />
      <br />
  </div>
</div>
<div class="row" id="party">
  <div class="six columns">
      <h4>Bridal Party:</h4>
      <br />
      <ul>
        <li>Amanda Skidmore, Matron of Honor</li>
        <li>Alannah Bowman, Matron of Honor</li>
        <li>Jill Houser, Bridesmaid</li>
        <li>Emma Rhodes, Bridesmaid</li>
        <li>Briannah Skidmore, Junior Bridesmaid</li>
      </ul>
      <br />
  </div>
  <div class="six columns">
    <h4>Groom's Party:</h4>
    <br />
    <ul>
        <li>Sean McGregor, Groom's Best Man</li>
        <li>Alex Vernier, Groomsman</li>
        <li>Zachary Skidmore, Groomsman</li>
        <li>Mitchael Bowman, Groomsman</li>
    </ul>
    <br />
  </div>
</div>
<div class="row" id="kids">
  <div class="six columns">
    <h4>Flower Girls:</h4>
    <br />
    <ul>
      <li>Cora Houser</li>
      <li>Cami Houser</li>
    </ul>
    <br />
  </div>
  <div class="six columns">
    <h4>Ring Bearers:</h4>
    <br />
    <ul>
      <li>Lucas Bowman</li>
      <li>Declan Skidmore</li>
    </ul>
  </div>
</div>
<div class="row" id="families">
  <div class="six columns">
    <p><h4>The Bride's Family:</h4>
      <ul>
        <li>the late Marietsa Gross, Mother of the Bride</li>
        <li>Guy Gross, Father of the Bride & Stephanie Gross, Stepmother of the Bride</li>
        <li>Jeanne & Marty Vangundy, Godparents of the Bride</li>
        <li>Patricia Moore, Grandmother of the Bride</li>
        <li>Jackie Todd, Grandfather of the Bride</li>
      </ul>
    </p>
  </div>
  <div class="six columns">
    <p><h4>The Groom's Family:</h4>
      <ul>
        <li>Soren & Jo Anne Mikaelian, Father & Mother of the Groom</li>
        <li>Susan Mikaelian, Aunt & Godmother of the Groom</li>
      </ul>
    </p>
    <br />
  </div>
</div>
<hr />
<div class="row" id="stay">
  <h1>Lodging & Entertainment</h1>
  <p>There are many places to stay and thousands of things to do while you are here to celebrate with us.
    <br />
    <br />
    <h4>Hotels</h4>
    <p>We recommend these hotels because they are close to our Reception site and less than 5 miles north of Dallas/Fort Worth International Airport plus they have a complimentary shuttle to and from the airport. A few will also shuttle to and from the Reception site. Also, these hotels are all close to the cities of Flower Mound, Coppell, Southlake and Lewisville as well as close to Highways 635, 114 and 121 for easy access to entertainment and restaurants during your stay.</p>
    <div class="row" id="hotels">
      <div class="twelve columns">
        <div class="four columns">
          <a href="http://homewoodsuites3.hilton.com/en/hotels/texas/homewood-suites-by-hilton-dallas-dfw-airport-n-grapevine-DALHWHW/index.html" target="_blank"><img src="../public/images/hotel_logos/homewood.jpeg" /></img></a>
          <br />2214 Grapevine Mills Circle West
          <br />Grapevine, Texas 76051
          <br />+1.972.691.2427
          <br />
          <br />
          <ul>
            <li>Complimentary shuttle service within 5 miles of the hotel</li>
            <li>Complimentary shuttle service to and from DFW Airport</li>
          </ul>
        </div>
        <div class="four columns">
          <a href="http://hamptoninn3.hilton.com/en/hotels/texas/hampton-inn-and-suites-dallas-dfw-airport-north-grapevine-DALGPHX/index.html" target="_blank"><img src="../public/images/hotel_logos/hampton.jpeg" /></a>
          <br />1750 North Highway 121
          <br />Grapevine, Texas 76051
          <br />+1.972.471.5000
          <br />
          <br />
          <ul>
            <li>Complimentary 24-hour shuttle service within 3 miles of the hotel</li>
            <li>Complimentary transportation to and from DFW airport and Gaylord Convention Center</li>
          </ul>
        </div>
        <div class="four columns">
          <a href="http://embassysuites3.hilton.com/en/hotels/texas/embassy-suites-by-hilton-dallas-dfw-airport-north-DALEMES/index.html" target="_blank"><img src="../public/images/hotel_logos/embassy.jpeg" /></a>
          <p>2401 Bass Pro Drive</p>
          <p>Grapevine, Texas 76051</p>
          <p>+1.972.724.2600</p>
          <br />
          <ul>
            <li>Complimentary 24-hour transportation to and from DFW International Airport</li>
            <li>Complimentary scheduled transportation to Grapevine Mills Mall</li>
          </ul>
        </div>
      </div>
    </div>
    </ul>
    <h4>Restaurants</h4>
    <br />
    <h4>Entertainment</h4>
    <p>Discover the <q>Wine Capital of Texas</q> and the charm of this historic city while you are in town for our celebration. Centrally located between Dallas and Fort Worth, Grapevine, Texas offers local wineries and a historic downtown area.</p>
    <p>You can also visit a variety of places during your stay here with us such as:</p>
      <ul>
        <li>Grapevine Opry at the Palace Theater</li>
        <li>Grapevine Vintage Railroad</li>
        <li>Vetro Glassblowing Studio & Gallery</li>
        <li>SEA LIFE Aquarium</li>
        <li>LEGOLAND&reg Discovery Center</li>
        <li>Lake Grapevine</li>
        <li>Dallas World Aquarium</li>
        <li>Perot Museum</li>
        <li>The Texas Rangers Globe Life Park in Arlington</li>
        <li>Six Flags Over Texas</li>
        <li>AT&T Dallas Cowboys Stadium</li>
        <li>Texas Motor Speedway</li>
        <li>Lone Star Race Track</li>
      </ul>
        You can go shopping at Grapevine Mills Mall, The Galleria or Bass Pro Shop Outdoor World or check out any of the area golf courses. These attractions are all within close distance to our hotel recommendations in Grapevine, TX.
      </ul>
    </p>
    <br />
  </p>
</div>
<hr />
<div class="row" id="registry-info">
  <h1>Registries</h1>
</div>
<hr />
<div class="row" id="questions">
  <h1>Questions?</h1>
  <h3>Contact Us</h3>
  <a href="mailto:bryan.mikaelian@gmail.com">Mr. Mikaelian</a>
  <br />
  <a href="mailto:april.gross83@gmail.com">The Furture Mrs. Mikaelian</a>
</div>
<hr />
</div>
