<!DOCTYPE html>
<html>
  <head>
    <title>April & Bryan's Wedding 1-7-17</title>
  </head>
  <body>
    <div id="stories">
      <h1>Our Story</h1>
    </div>
    <div id="locations">
      <h1>When & Where</h1>
      <p>
        <h3>The Ceremony</h3>
        Our wedding ceremony will be a full Catholic Mass held at Saint Francis of Assisi Catholic Church in Frisco, TX at 1:30 PM on January 7, 2017.
        <p>
          <a href="http://www.stfoafrisco.org" target="_blank">Saint Francis of Assisi</a> (opens in a new window)
          <br />
          8000 Eldorado Parkway, Frisco, Texas  75033
          <a href="https://www.google.com/maps/place/St+Francis+of+Assisi+Catholic+Church/@33.1754702,-96.8149177,17z/data=!3m1!4b1!4m2!3m1!1s0x864c3eb196d50919:0x215098901efb878b">Map</a>
          <br />
          (972) 712-2645
          <br />
        </p>
        <br />
        <h3>The Reception</h3>
        Cocktail hour and Reception will be following the ceremony at The Laurel in Grapevine, TX at 4 PM.
        <p>
          <a href="http://thelaureltexas.com" target="_blank">The Laurel</a> (opens in a new window)
          <br />
          2040 Enchanted Way, Grapevine, Texas  76051
          <a href="https://www.google.com/maps/place/The+Laurel/@32.9580095,-97.0386613,17z/data=!3m1!4b1!4m2!3m1!1s0x864c2b904b216291:0x78a27b19f72e49d3">Map</a>
          <br />
          (817) 617-7400
          <br />
        </p>
      </p>
    </div>
    <div id="stay-entertainment">
      <h1>Lodging & Entertainment</h1>
      <p>There are many places to stay and things to do during your stay before and after our wedding. Here are a few of each that we recommend.
        <br />
        <br />
        Hotels:
        <br />
        Restaurants:
        <br />
        Entertainment:
        <br />
      </p>
    </div>
    <div id="crew">
      <h1>Wedding Party</h1>
      <p>
        We would like to introduce everyone in the wedding party.
        <br />
        <br />
        Bridal Party:
        <br />
        <ul>
          <li>Amanda Skidmore, the Bride's younger Sister & Matron of Honor</li>
          <li>Alannah Bowman, the Bride's youngest Sister & Matron of Honor</li>
          <li>Jill Houser, Bridesmaid</li>
          <li>Emma Rhodes, Bridesmaid</li>
          <li>Briannah Skidmore, the Bride's niece & Junior Bridesmaid</li>
        </ul>
        <p>The Bride's Family:
          <ul>
            <li>Guy Gross, Father of the Bride</li>
            <li>Jeanne & Marty Vangundy, Godparents of the Bride</li>
            <li>Patricia Moore, Grandmother of the Bride</li>
            <li>Jackie Todd, Grandfather of the Bride</li>
          </ul>
        </p>
        <br />
        Groom's Party:
      </p>
    </div>
    <div id="invite-responses">
      <h1>RSVP</h1>
      <p>
        For convenience, you can RSVP here if you would like to rather than mailing your card back to us.
      </p>
    </div>
    <div id="wishes">
      <h1>Well Wishes</h1>
      <p>
        Write us a message or wish us well.
      </p>
    </div>
    <div id="questions">
      <h1>Questions?</h1>
      <h3>Contact Us</h3>
      <a href="mailto:bryan.mikaelian@gmail.com">Bryan</a>
      <br />
      <a href="mailto:april.gross83@gmail.com">April</a>
    </div>
  </body>
</html>
