<!-- Header -->
<section data-parallax="scroll" data-image-src="./images/placeholder.jpg" class='full-height centered'>
  <div class="container">
    <div class="row" id="page-header">
      <div class="twelve columns">
        <h1>April & Bryan</h1>
        <h1>January 7, 2017</h1>
      </div>
    </div>
  </div>
</section>

<!-- Our Story -->
<section data-parallax="scroll" data-image-src="./images/placeholder.jpg" class="full-height centered">
  <div class="container">
    <div class="row" id="stories">
      <div class="twelve columns">
        <h2>Our Story</h2>
        <h4>How We Met</h4>
        <p>
        </p>
        <h4>The Proposal</h4>
        <p>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Ceremony -->
<section data-parallax="scroll" data-image-src="./images/locations/St_Francis.jpg" class="full-height centered">
  <div class="container">
    <div class="row" id="locations">
      <div class="twelve columns">
        <p>
          <h2 id="ceremony">Ceremony</h2>
          Our wedding will be a full Catholic Mass held at <a href="http://www.stfoafrisco.org" target="_blank">Saint Francis of Assisi Catholic Church</a> in <a href="https://www.google.com/maps/place/8000+Eldorado+Pkwy,+Frisco,+TX+75033/@33.1748889,-96.8156128,17z/data=!3m1!4b1!4m2!3m1!1s0x864c3e97e0ebd54f:0x1acbab8cbb6ad716" target="_blank">Frisco, TX</a> at 1:30 PM.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Reception -->
<section data-parallax="scroll" data-image-src="./images/locations/the_laurel.jpg" class="full-height centered">
  <div class="container">
    <div class="row" id="locations">
      <div class="twelve columns">
        <p>
          <h2 id="reception">Reception</h2>
          Cocktail hour & Reception will be held at <a href="http://thelaureltexas.com" target="_blank">The Laurel</a> in <a href="https://www.google.com/maps/place/2040+Enchanted+Way,+Grapevine,+TX+76051/@32.9576122,-97.0386641,17z/data=!3m1!4b1!4m2!3m1!1s0x864c2b904b3ed9b3:0x2a1b6c567f04169f" target="_blank">Grapevine, TX</a> following the <a href="#ceremony">ceremony</a>.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Wedding Party -->
<section data-parallax="scroll" data-image-src="./images/placeholder.jpg" class="full-height centered">
  <div class="container">
    <div class="row" id="crew">
      <div class="twelve columns">
        <h2>Wedding Party</h2>
      </div>
    </div>
    <div class="row" id="party">
      <div class="six columns">
        <h4>Bridal Party</h4>
        <ul>
          <li>Alannah Bowman, Matron of Honor</li>
          <li>Amanda Skidmore, Matron of Honor</li>
          <li>Jill Houser, Bridesmaid</li>
          <li>Emma Rhodes, Bridesmaid</li>
          <li>Briannah Skidmore, Junior Bridesmaid</li>
        </ul>
        <br />
      </div>
      <div class="six columns">
        <h4>Groom's Party</h4>
        <ul>
            <li>Sean McGregor, Groom's Best Man</li>
            <li>Alex Vernier, Groomsman</li>
            <li>Zachary Skidmore, Groomsman</li>
            <li>Mitchael Bowman, Groomsman</li>
        </ul>
        <br />
      </div>
    </div>
    <div class="row" id="kids">
      <div class="six columns">
        <h4>Flower Girls</h4>
        <ul>
          <li>Cora Houser</li>
          <li>Cami Houser</li>
        </ul>
        <br />
      </div>
      <div class="six columns">
        <h4>Ring Bearers</h4>
        <ul>
          <li>Lucas Bowman</li>
          <li>Declan Skidmore</li>
        </ul>
      </div>
    </div>
    <div class="row" id="families">
      <div class="six columns">
        <p><h4>The Bride's Family</h4>
          <ul>
            <li>the late Marietsa Gross, Mother of the Bride</li>
            <li>Guy Gross, Father of the Bride & Stephanie Gross, Stepmother of the Bride</li>
            <li>Jeanne & Marty Vangundy, Godparents of the Bride</li>
            <li>Patricia Moore, Grandmother of the Bride</li>
            <li>Jackie Todd, Grandfather of the Bride</li>
          </ul>
        </p>
      </div>
      <div class="six columns">
        <p><h4>The Groom's Family</h4>
          <ul>
            <li>Soren & Jo Anne Mikaelian, Father & Mother of the Groom</li>
            <li>Susan Mikaelian, Aunt & Godmother of the Groom</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Hotels -->
<section data-parallax="scroll" data-image-src="./images/placeholder.jpg" class="full-height centered">
  <div class="container">
    <div class="row" id="stay">
      <div class="twelve columns">
        <h2>Where to Stay</h2>
          <p>We recommend these three hotels not only because they are close to our <a href="#reception">reception</a> site but also because they offer a complimentary shuttle to & from <a href="https://www.dfwairport.com" target="_blank">Dallas/Fort Worth International Airport</a>. Inquire, with the hotel of your choosing,  about their complimentary shuttle transporting you to & from the <a href="#reception">reception</a> site on our wedding day. Close to Highways 635, 114 & 121; these hotels allow for easy access to the cities of Flower Mound, Coppell, Southlake & Lewisville for a variety of <a href="#food">restaurants</a> & many <a href="#to_do">entertainment</a> options during your stay.</p>
      </div>
    </div>
    <div class="row" id="hotels">
      <div class="twelve columns">
        <div class="six columns">
          <a href="http://homewoodsuites3.hilton.com/en/hotels/texas/homewood-suites-by-hilton-dallas-dfw-airport-n-grapevine-DALHWHW/index.html" target="_blank"><img src="/images/hotel_logos/homewood.jpeg" /></a>
          <br />2214 Grapevine Mills Circle West
          <br />Grapevine, Texas 76051
          <br />+1.972.691.2427
          <br />
          <br />
          <ul>
            <li>Complimentary shuttle service within 5 miles</li>
            <li>Complimentary shuttle service to & from DFW Airport</li>
          </ul>
        </div>
        <div class="six columns">
          <a href="http://hamptoninn3.hilton.com/en/hotels/texas/hampton-inn-and-suites-dallas-dfw-airport-north-grapevine-DALGPHX/index.html" target="_blank"><img src="/images/hotel_logos/hampton.jpeg" /></a>
          <br />1750 North Highway 121
          <br />Grapevine, Texas 76051
          <br />+1.972.471.5000
          <br />
          <br />
          <ul>
            <li>Complimentary 24-hour shuttle service within 3 miles</li>
            <li>Complimentary transportation to & from DFW airport</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Restaurants -->
<section data-parallax="scroll" data-image-src="./images/placeholder.jpg" class="full-height centered">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2 id="food">Where to Eat</h2>
        <p>There is a slew of restaurants, markets and bars in Grapevine but here are a few that we recommend.</p>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <ul>
          <li><a href="http://eatzis.com" target="_blank">Eatzi's Market & Bakery</a></li>
          <li><a href="http://www.breadhaus.com">BreadHaus Bakery</a></li>
          <li><a href="http://elfenix.com">El Fenix Mexican Restaurant</a></li>
          <li><a href="http://oldwestcafe.us">Old West Cafe</a></li>
          <li><a href="http://www.midiafromscratch.com/index.htm">Mi Dia From Scratch</a></li>
          <li><a href="https://www.chuys.com">Chuy's</a></li>
          <li><a href="http://www.esparzastexas.com/home">Esparza's Restaurante Mexicano</a></li>
          <li><a href="http://lamadeleine.com">La Madeleine Country French Cafe</a></li>
        </ul>
      </div>
      <div class="four columns">
        <ul>
          <li><a href="http://edohana.com/index.html">Edohana Hibachi Sushi</a></li>
          <li><a href="http://www.pappadeaux.com/menu/">Pappadeaux Seafood Kitchen</a></li>
          <li><a href="http://www.pluckers.com/menu/">Pluckers Wing Bar</a></li>
          <li><a href="http://www.cantinalaredo.com/location/grapevine-texas/">Cantina Laredo</a></li>
          <li><a href="https://www.texasroadhouse.com/restaurant-locations/texas/flower-mound">Texas Roadhouse</a></li>
          <li><a href="http://www.saltgrass.com">Saltgrass Steakhouse</a></li>
          <li><a href="http://www.meatuanywhere.com">Meat U Anywhere BBQ</a></li>
          <li><a href="http://www.hardeightbbq.com">Hard Eight BBQ</a></li>
          <li><a href="http://bobs-steakandchop.com/grapevine/">Bob's Steak & Chophouse</a></li>
        </ul>
      </div>
      <div class="four columns">
        <ul>
          <li><a href="http://www.crackerbarrel.com">Cracker Barrel Country Store</a></li>
          <li><a href="https://www.outback.com">Outback Steakhouse</a></li>
          <li><a href="http://www.thecheesecakefactory.com/#">The Cheesecake Factory</a></li>
          <li><a href="http://www.riomambo.com/Locations/rio-mambo-addison/">Rio Mambo Tex Mex Y Mas</a></li>
          <li><a href="http://www.willhoites.com">Whilhoite's Restaurant</a></li>
          <li><a href="http://www.firesidepies.com">Fireside Pies</a></li>
          <li><a href="http://www.tolbertsrestaurant.com">Tolbert's Restaurant</a></li>
          <li><a href="http://www.grimaldispizzeria.com">Grimaldi's Coal Brick Oven Pizzeria</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Shit to do -->
<section data-parallax="scroll" data-image-src="./images/placeholder.jpg" class="full-height centered">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2 id="to_do">What to Do</h2>
        <p>Discover the <q>Wine Capital of Texas</q> & the charm of <a href="http://www.grapevinetexasusa.com" target="_blank">Grapevine</a> while you are in town for our wedding celebration. Centrally located between Dallas & Fort Worth, Grapevine offers local wineries & a <a href="http://www.grapevinetexasusa.com/shop-wine-dine/downtown/" target="_blank">historic downtown</a> area.</p>
        <br />
      </div>
    </div>
    <div class="row" id="attractions">
      <div class="twelve columns">
        <ul>
          <li><a href="http://www.basspro.com/webapp/wcs/stores/servlet/CFPageC?storeId=10151&catalogId=10051&langId=-1&appID=94&storeID=18&tab=3&cm_sp=Store005Apr2013_RD&cm_ven=redirect&cm_cat=mktg&cm_pla=bps&cm_ite=grapevine" target="_blank">Bass Pro Shop Outdoor World</a></li>
          <li><a href="http://www.simon.com/mall/grapevine-mills" target="_blank">Grapevine Mills Mall</a></li>
          <li><a href="http://www.grapevinetexasusa.com/Palace-theatre/" target="_blank">Grapevine Opry at the Palace Theater</a></li>
          <li><a href="http://www.grapevinetexasusa.com/grapevine-vintage-railroad/" target="_blank">Grapevine Vintage Railroad</a></li>
          <li><a href="http://vetroartglass.com" target="_blank">Vetro Glassblowing Studio & Gallery</a></li>
          <li><a href="https://www.visitsealife.com/grapevine/" target="_blank">SEA LIFE Aquarium</a></li>
          <li><a href="https://www.legolanddiscoverycenter.com/dallasfw/" target="_blank">LEGOLAND&reg Discovery Center</a></li>
          <li><a href="http://www.lake-grapevine.com" target="_blank">Lake Grapevine</a></li>
          <li><a href="http://www.lake-lewisville.org" target="_blank">Lake Lewisville</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <br />
        <p>Here are more places we suggest if you would like to explore even further during your stay with us.</p>
      </div>
    </div>
    <div class="row" id="to_do_cities">
      <div class="four columns">
        <ul>
          <a href="http://www.fortworth.com">
            <h4>Fort Worth</h4>
          </a>
          <li><a href="http://www.fortworthstockyards.org" target="_blank">Fort Worth Stockyards & Downtown</a></li>
          <li><a href="http://www.fwmuseum.org" target="_blank">Fort Worth Museum of Science & History</a></li>
          <li><a href="http://www.casamanana.org" target="_blank">Casa Manana</a></li>
          <li><a href="https://www.fortworthzoo.org" target="_blank">Fort Worth Zoo</a></li>
          <li><a href="http://www.fwbg.org/gardens/#/the-japanese-garden/" target="_blank">Fort Worth Japanese Garden</a></li>
          <li><a href="http://www.fwbg.org" target="_blank">Fort Worth Botanic Gardens</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Fort_Worth_Water_Gardens">Fort Worth Water Gardens</a></li>
          <li><a href="https://www.kimbellart.org" target="_blank">Kimball Art Museum</a></li>
          <li><a href="http://www.themodern.org" target="_blank">Modern Art Museum</a></li>
          <li><a href="http://www.basshall.com">Bass Performance Hall</a></li>
          <li><a href="http://www.texasmotorspeedway.com">Texas Motor Speedway</a></li>
          <li><a href="http://www.fossilrim.org" target="_blank">Fossil Rim Wildlife Center</a></li>
        </ul>
      </div>
      <div class="four columns">
        <ul>
          <li>
            <a href="http://www.arlington.org/plan/visitor-welcome-center/" target="_blank">
              <h4>Arlington</h4>
            </a>
            <span>/</span>
            <a href="http://www.visitgrandprairietx.com" target="_blank">
              <h4>Grand Prairie</h4>
            </a>
          </li>
          <li><a href="http://texas.rangers.mlb.com/tex/ballpark/index.jsp" target="_blank">The Texas Rangers Globe Life Park in Arlington</a></li>
          <li><a href="http://stadium.dallascowboys.com" target="_blank">AT&T Dallas Cowboys Stadium</a></li>
          <li><a href="https://www.sixflags.com/overtexas" target="_blank">Six Flags Over Texas</a></li>
          <li><a href="http://www.lonestarpark.com/home.aspx" target="_blank">Lone Star Race Track</a></li>
        </ul>
      </div>
      <div class="four columns">
        <ul>
          <a href="http://www.visitdallas.com" target="_blank">
            <h4>Dallas</h4>
          </a>
          <li><a href="http://www.klydewarrenpark.org" target="_blank">Klyde Warren Park</a></li>
          <li><a href="http://www.galleriadallas.com" target="_blank">The Galleria</a></li>
          <li><a href="http://www.bishopartsdistrict.com/home" target="_blank">Bishop Arts District</a></li>
          <li><a href="http://dallasfarmersmarket.org" target="_blank">Dallas Farmers Market</a></li>
          <li><a href="http://www.dallaszoo.com" target="_blank">Dallas Zoo</a></li>
          <li><a href="http://www.dallasarboretum.org" target="_blank">Dallas Arboretum</a></li>
          <li><a href="http://www.jfk.org" target="_blank">Sixth Floor Museum at Dealey Plaza</a></li>
          <li><a href="http://www.americanairlinescenter.com/index.php" target="blank">American Airlines Center</a></li>
          <li><a href="http://www.dwazoo.com" target="_blank">Dallas World Aquarium</a></li>
          <li><a href="http://www.perotmuseum.org" target="_blank">The Perot Museum</a></li>
          <li><a href="https://www.dma.org" target="_blank">Dallas Modern Art Museum</a></li>
          <li><a href="http://deepellumtexas.com" target="_blank">Deep Ellum</a></li>
          <li><a href="http://www.dallaswestend.org" target="_blank">West End</a></li>
        </ul>
      </div>
    </div>
</section>

<!-- Registry -->
<section class="full-height centered">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2>Registries</h2>
      </div>
    </div>
    <div class="row" id="registry-info">
        <div class="six columns">
          <a href="https://secure.williams-sonoma.com/registry/876lcbxf6r/registry-list.html" target="_blank" class="registry_link"><img src="/images/registries/williams_sonoma.png" id="williams_sonoma"/></a>
        </div>
        <div class="six columns">
          <a href="http://www.bedbathandbeyond.com/store/giftregistry/registry_search_guest.jsp?_requestid=632326" target="_blank" class="registry_link"><img src="/images/registries/Bed_Bath_And_Beyond.png" id="bbandb"/></a>
        </div>
    </div>
</section>

<!-- Guestbook -->
<section class="full-height centered">
  <div class="container">
    <div class="row" id="guest_book">
      <div class="twelve columns">
        <h2>Guest Book</h2>
        <h4>Leave us a message, well wishes or sign our guest book.</h4>
        <form class="wishes" action="/message" method="post">
          <div class="row">
            <div class="twelve columns">
              <textarea name="name" rows="20" cols="100"></textarea>
              <br />
              <input type="submit" name="messages" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Questions / Contact -->
<section class="full-height centered">
  <div class="container">
    <div class="row" id="questions">
      <div class="twelve columns">
        <h3>Questions?</h3>
        <h4>Contact Us</h4>
        <a href="mailto:bryan.mikaelian@gmail.com">Mr. Mikaelian</a>
        <br />
        <a href="mailto:april.gross83@gmail.com">The Future Mrs. Mikaelian</a>
        <br />
        <a href="mailto:info@houseoftalesevents.com">Maya, Our Fabulous Wedding Planner</a>
      </div>
    </div>
  </div>
</section>
