<!DOCTYPE html>
<html>
  <head>
    <title>April & Bryan's Wedding 1-7-17</title>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../public/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://use.typekit.net/qhf0gjj.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>
    <div class="container">
      <div class="row" id="page-header">
        <div class="twelve columns">
          <h1>April & Bryan</h1>
          <h1>January 7, 2017</h1>
          <hr />
        </div>
      </div>
      <div class="row" id="stories">
        <div class="twelve columns">
          <h1>Our Story</h1>
          <p></p>
          <h3>How We Met</h3>
          <p></p>
          <h3>The Proposal</h3>
          <p></p>
        </div>
      </div>
      <hr />
      <div class="row" id="locations">
        <div class="twelve columns">
          <p>
            <h1 id="ceremony">Ceremony</h1>
            Our wedding ceremony will be a full Catholic Mass held at <a href="http://www.stfoafrisco.org" target="_blank">Saint Francis of Assisi Catholic Church</a> in Frisco, TX at 1:30 PM on January 7, 2017.
            <p>
              <br />
              <a href="https://www.google.com/maps/place/8000+Eldorado+Pkwy,+Frisco,+TX+75033/@33.1748889,-96.8156128,17z/data=!3m1!4b1!4m2!3m1!1s0x864c3e97e0ebd54f:0x1acbab8cbb6ad716" target="_blank">8000 Eldorado Parkway, Frisco, Texas  75033</a>
              <br />
              +1-972-712-2645
            </p>
            <br />
            <h1 id="reception">Reception</h1>
            Cocktail hour & Reception will be following the ceremony at <a href="http://thelaureltexas.com" target="_blank">The Laurel</a> in Grapevine, TX at 4 PM.
            <p>
              <br />
              <a href="https://www.google.com/maps/place/2040+Enchanted+Way,+Grapevine,+TX+76051/@32.9576122,-97.0386641,17z/data=!3m1!4b1!4m2!3m1!1s0x864c2b904b3ed9b3:0x2a1b6c567f04169f" target="_blank">2040 Enchanted Way, Grapevine, Texas  76051</a>
              <br />
              +1-817-617-7400
              <br />
            </p>
          </p>
        </div>
      </div>
      <hr />
      <div class="row" id="crew">
        <div class="twelve columns">
          <h1>Wedding Party</h1>
        </div>
      </div>
      <div class="row" id="party">
        <div class="six columns">
            <h4>Bridal Party:</h4>
            <ul>
              <li>Amanda Skidmore, Matron of Honor</li>
              <li>Alannah Bowman, Matron of Honor</li>
              <li>Jill Houser, Bridesmaid</li>
              <li>Emma Rhodes, Bridesmaid</li>
              <li>Briannah Skidmore, Junior Bridesmaid</li>
            </ul>
            <br />
        </div>
        <div class="six columns">
          <h4>Groom's Party:</h4>
          <ul>
              <li>Sean McGregor, Groom's Best Man</li>
              <li>Alex Vernier, Groomsman</li>
              <li>Zachary Skidmore, Groomsman</li>
              <li>Mitchael Bowman, Groomsman</li>
          </ul>
          <br />
        </div>
      </div>
      <div class="row" id="kids">
        <div class="six columns">
          <h4>Flower Girls:</h4>
          <ul>
            <li>Cora Houser</li>
            <li>Cami Houser</li>
          </ul>
          <br />
        </div>
        <div class="six columns">
          <h4>Ring Bearers:</h4>
          <ul>
            <li>Lucas Bowman</li>
            <li>Declan Skidmore</li>
          </ul>
        </div>
      </div>
      <div class="row" id="families">
        <div class="six columns">
          <p><h4>The Bride's Family:</h4>
            <ul>
              <li>the late Marietsa Gross, Mother of the Bride</li>
              <li>Guy Gross, Father of the Bride & Stephanie Gross, Stepmother of the Bride</li>
              <li>Jeanne & Marty Vangundy, Godparents of the Bride</li>
              <li>Patricia Moore, Grandmother of the Bride</li>
              <li>Jackie Todd, Grandfather of the Bride</li>
            </ul>
          </p>
        </div>
        <div class="six columns">
          <p><h4>The Groom's Family:</h4>
            <ul>
              <li>Soren & Jo Anne Mikaelian, Father & Mother of the Groom</li>
              <li>Susan Mikaelian, Aunt & Godmother of the Groom</li>
            </ul>
          </p>
          <br />
        </div>
      </div>
      <hr />
      <div class="row" id="stay">
        <h1>Where to Stay</h1>
          <p>We recommend these three hotels not only because they are close to our <a href="#reception">reception</a> site but also because they offer a complimentary shuttle to and from <a href="https://www.dfwairport.com" target="_blank">Dallas/Fort Worth International Airport</a>. Inquire, with the hotel of your choosing,  about their complimentary shuttle transporting you to and from the <a href="#reception">reception</a> site on our wedding day. Close to Highways 635, 114 and 121; these hotels allow for easy access to the cities of Flower Mound, Coppell, Southlake and Lewisville for a variety of <a href="#food">restaurants</a> and many <a href="#to_do">entertainment</a> options during your stay.</p>
          <div class="row" id="hotels">
            <div class="twelve columns">
              <div class="four columns">
                <a href="http://homewoodsuites3.hilton.com/en/hotels/texas/homewood-suites-by-hilton-dallas-dfw-airport-n-grapevine-DALHWHW/index.html" target="_blank"><img src="../public/images/hotel_logos/homewood.jpeg" /></img></a>
                <br />2214 Grapevine Mills Circle West
                <br />Grapevine, Texas 76051
                <br />+1.972.691.2427
                <br />
                <br />
                <ul>
                  <li>Complimentary shuttle service within 5 miles of the hotel</li>
                  <li>Complimentary shuttle service to and from DFW Airport</li>
                </ul>
              </div>
              <div class="four columns">
                <a href="http://embassysuites3.hilton.com/en/hotels/texas/embassy-suites-by-hilton-dallas-dfw-airport-north-DALEMES/index.html" target="_blank"><img src="../public/images/hotel_logos/embassy.jpeg" /></a>
                <p>2401 Bass Pro Drive</p>
                <p>Grapevine, Texas 76051</p>
                <p>+1.972.724.2600</p>
                <br />
                <ul>
                  <li>Complimentary 24-hour transportation to and from DFW International Airport</li>
                  <li>Complimentary scheduled transportation to Grapevine Mills Mall</li>
                </ul>
              </div>
              <div class="four columns">
                <a href="http://hamptoninn3.hilton.com/en/hotels/texas/hampton-inn-and-suites-dallas-dfw-airport-north-grapevine-DALGPHX/index.html" target="_blank"><img src="../public/images/hotel_logos/hampton.jpeg" /></a>
                <br />1750 North Highway 121
                <br />Grapevine, Texas 76051
                <br />+1.972.471.5000
                <br />
                <br />
                <ul>
                  <li>Complimentary 24-hour shuttle service within 3 miles of the hotel</li>
                  <li>Complimentary transportation to and from DFW airport and Gaylord Convention Center</li>
                </ul>
              </div>
            </div>
          </div>
          </ul>
          <h4 id="food">Where to Eat</h4>
          <br />
          <h4 id="to_do">What to Do</h4>
          <p>Discover the <q>Wine Capital of Texas</q> and the charm of <a href="http://www.grapevinetexasusa.com" target="_blank">Grapevine</a> while you are in town for our wedding celebration. Centrally located between Dallas and Fort Worth, Grapevine offers local wineries and a <a href="http://www.grapevinetexasusa.com/shop-wine-dine/downtown/" target="_blank">historic downtown</a> area.</p>
          <p>So many places to see and things to do...</p>
          <div class="row" id="attractions">
            <div class="three columns">
              <ul>
                <b>Grapevine</b>
                <li><a href="http://www.basspro.com/webapp/wcs/stores/servlet/CFPageC?storeId=10151&catalogId=10051&langId=-1&appID=94&storeID=18&tab=3&cm_sp=Store005Apr2013_RD&cm_ven=redirect&cm_cat=mktg&cm_pla=bps&cm_ite=grapevine" target="_blank">Bass Pro Shop Outdoor World</a></li>
                <li><a href="http://www.simon.com/mall/grapevine-mills" target="_blank">Grapevine Mills Mall</a></li>
                <li><a href="http://www.grapevinetexasusa.com/Palace-theatre/" target="_blank">Grapevine Opry at the Palace Theater</a></li>
                <li><a href="http://www.grapevinetexasusa.com/grapevine-vintage-railroad/" target="_blank">Grapevine Vintage Railroad</a></li>
                <li><a href="http://vetroartglass.com" target="_blank">Vetro Glassblowing Studio & Gallery</a></li>
                <li><a href="https://www.visitsealife.com/grapevine/" target="_blank">SEA LIFE Aquarium</a></li>
                <li><a href="https://www.legolanddiscoverycenter.com/dallasfw/" target="_blank">LEGOLAND&reg Discovery Center</a></li>
                <li><a href="http://www.lake-grapevine.com" target="_blank">Lake Grapevine</a></li>
                <li><a href="http://www.lake-lewisville.org" target="_blank">Lake Lewisville</a></li>
              </ul>
            </div>
            <div class="three columns">
              <ul>
                <strong>Arlington/Grand Prairie</strong>
                <li><a href="http://texas.rangers.mlb.com/tex/ballpark/index.jsp" target="_blank">The Texas Rangers Globe Life Park in Arlington</a></li>
                <li><a href="http://stadium.dallascowboys.com" target="_blank">AT&T Dallas Cowboys Stadium</a></li>
                <li><a href="https://www.sixflags.com/overtexas" target="_blank">Six Flags Over Texas</a></li>
                <li><a href="http://www.lonestarpark.com/home.aspx" target="_blank">Lone Star Race Track</a></li>
              </ul>
            </div>
            <div class="three columns">
              <ul>
                <strong>Dallas</strong>
                <li><a href="http://www.galleriadallas.com" target="_blank">The Galleria</a></li>
                <li><a href="http://www.bishopartsdistrict.com/home" target="_blank">Bishop Arts District</a></li>
                <li><a href="http://dallasfarmersmarket.org" target="_blank">Dallas Farmers Market</a></li>
                <li><a href="http://www.dallaszoo.com" target="_blank">Dallas Zoo</a></li>
                <li><a href="http://www.dallasarboretum.org" target="_blank">Dallas Arboretum</a></li>
                <li><a href="http://www.jfk.org" target="_blank">Sixth Floor Museum at Dealey Plaza</a></li>
                <li><a href="http://www.americanairlinescenter.com/index.php" target="blank">American Airlines Center</a></li>
                <li><a href="http://www.dwazoo.com" target="_blank">Dallas World Aquarium</a></li>
                <li><a href="http://www.perotmuseum.org" target="_blank">The Perot Museum</a></li>
              </ul>
            </div>
            <div class="three columns">
              <ul>
                <strong>Fort Worth</strong>
                <li><a href="http://www.fortworthstockyards.org" target="_blank">Fort Worth Stockyards & Downtown</a></li>
                <li><a href="http://www.fwmuseum.org" target="_blank">Fort Worth Museum of Science and History</a></li>
                <li><a href="http://www.casamanana.org" target="_blank">Casa Manana</a></li>
                <li><a href="https://www.fortworthzoo.org" target="_blank">Fort Worth Zoo</a></li>
                <li><a href="http://www.fwbg.org/gardens/#/the-japanese-garden/" target="_blank">Fort Worth Japanese Garden</a></li>
                <li><a href="http://www.fwbg.org" target="_blank">Fort Worth Botanic Gardens</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Fort_Worth_Water_Gardens">Fort Worth Water Gardens</a></li>
                <li><a href="https://www.kimbellart.org" target="_blank">Kimball Art Museum</a></li>
                <li><a href="http://www.themodern.org" target="_blank">Modern Art Museum</a></li>
                <li><a href="http://www.basshall.com">Bass Performance Hall</a></li>
                <li><a href="http://www.texasmotorspeedway.com">Texas Motor Speedway</a></li>
                <li><a href="http://www.fossilrim.org" target="_blank">Fossil Rim Wildlife Center</a></li>
              </ul>
            </div>
          </div>
          </p>
          <br />
        </p>
      </div>
      <hr />
      <div class="row" id="registry-info">
        <h1>Registries</h1>
      </div>
      <hr />
      <div class="row" id="questions">
        <h1>Questions?</h1>
        <h3>Contact Us</h3>
        <a href="mailto:bryan.mikaelian@gmail.com">Mr. Mikaelian</a>
        <br />
        <a href="mailto:april.gross83@gmail.com">The Furture Mrs. Mikaelian</a>
      </div>
      <hr />
    </div>
  </body>
</html>
