%section#header.full-height.centered.parallax(data-parallax="scroll" data-image-src="./images/pics_of_us/stairs.jpg")
  .faded-content
    .container
      .row#page-header
        .twelve.columns
          %h1 April & Bryan
          %h2 January 7, 2017

- PARTIALS.each do |partial|
  = haml partial

%section#footer
  .container
    .row
      .twelve.columns
        %h2 Registries
    .row
      .twelve.columns
        %a.registry_link( href="https://secure.williams-sonoma.com/registry/876lcbxf6r/registry-list.html" target="_blank" class="registry_link")
          %img.williams(src="http://static1.squarespace.com/static/55aa9732e4b0a996cf316767/t/569a8a6e8b38d44d1b3973de/1452968558740/h-logo-williams-sonoma.png")
          -# %img#williams_sonoma(src="/images/registries/williams_sonoma.png")
        %a.registry_link( href="http://www.bedbathandbeyond.com/store/giftregistry/registry_search_guest.jsp?_requestid=632326" target="_blank")
          %img(src="https://d7olld39l2hok.cloudfront.net/logo/4214388.png")
          -# %img(src="/images/registries/Bed_Bath_And_Beyond.png" id="bbandb")
    .row#questions
      .twelve.columns
        %h2 Contact
        %a(href="mailto:bryan.mikaelian@gmail.com") Mr. Mikaelian
        %br
        %a(href="mailto:april.gross83@gmail.com") The Future Mrs. Mikaelian
        %br
        %a(href="mailto:info@houseoftalesevents.com") Maya, Our Fabulous Wedding Planner

    .row#slideshow
      .twelve.columns
        #slides
          - Dir.glob('./public/images/slideshow/*.jpg').shuffle.each do |f|
            - file_path = f.split("/")
            - file_path.shift
            - file_path.shift
            - path = file_path.join("/")

            %img(style="background-image: url('/#{path}')")
