.image-frame {
  border-radius: 4px;
  width: 100%;
  height: 500px;
  min-width: 500px;
  border: 10px solid white;
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  background-repeat: no-repeat;


  &.st-francis {
    background-image: url('/images/locations/St_Francis.jpg');
  }

  &.the-laurel {
    background-image: url('/images/locations/the_laurel.jpg');
  }
}
