#registry-info {
  .columns {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

a.registry_link {
  img {
    height: 110px;
    width: auto;
    margin-bottom: 20px;

    &.williams {
      width: 75%;
      height: auto;
      max-height: 110px;
    }

    &:last-child {
      margin-bottom: 40px;
    }

  }
}
