#stories {
  padding-top: 88px;
  border-bottom: 1px solid $lightSilverColor;
  .row {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
  }
  h4 {
    font-family: $bodyFont;
    text-align: center;
  }

  #heading {
    flex: 1 0 25%;
    text-align: center;
  }
  #content {
    flex: 1 0 75%;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  #stories .row {
    flex-direction: column;
  }
  #content, #heading {
    width: 100%;
  }
}

@media (max-width: 550px) {
  #stories .row {
    flex-direction: column;
    justify-content: flex-start;
  }
  .columns {
    width: 100%;
  }
}
