#party, #kids, #families {
  li {
    display: flex;
    align-items: center;
  }
  img {
    border-radius: 37.5px;
    vertical-align: middle;
    margin-right: 15px;
    height: 75px;
    width: auto;
    min-width: 75px;
  }
}
