// Variables
$headingFont: "leander-script-pro";
$bodyFont: "adobe-garamond-pro";

html, body {
  height: 100%;
}

body {
  text-align: center;
  font-family: $bodyFont;
  font-size: 20px;
  color: white;
  background-color: #8C9DA0;
  margin: 0;
  text-shadow: 1px 1px 1px black;

  h1 {
    font-size: 72px;
    &.fancy {
      font-size: 96px;
    }
  }

  h2 {
    font-size: 64px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 36px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $headingFont;
  }

  a {
    color: #FFEEDE;
    text-decoration: none;
    &:hover {
      color: #324172;
      font-weight: bold;
    }

    h4  {
      color: #FFEEDE;
      text-decoration: underline;
    }

    &.registry_link {
      height: 100px;
      width: 100px;
      display: inline-flex;
      align-items: center;
        img#williams_sonoma {
        width: 100px;
        height: auto;
      }
      img#bbandb {
        width: 100px;
        height: auto;
      }
    }
  }

  div {
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
  }

  ul {
    list-style: none;
    li {
      span {
        font-size: 36px;
        font-style: italic;
        vertical-align: middle;
      }
      a {
        display: inline-block;
      }
    }
  }

  section {
    display: flex;
    padding: 20px;

    &.full-height {
      min-height: 100%;
    }

    &.centered {
      align-items: center;
    }
  }

  input[type='submit'] {
    background-color: white;
  }

  #footer {
    background-image: url("/images/pics_of_us/bridge.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-bottom: 0;
  }

  .parallax-window {

    -webkit-filter: blur(10px);
  }

  #party, #kids, #families {
    li {
      color: #FFEEDE;
    }
  }

  #hotels {
    ul {
      list-style: circle;
      text-align: left;
    }
  }
}
