// Variables
$headingFont: "leander-script-pro";
$bodyFont: "adobe-garamond-pro";

$primaryColor: #abbfc8;
$lightSilverColor: #d7dfe3;
$darkSilverColor: #6D7678;
$tealColor: #507889;
$ivoryColor: #FFEDD8;

@keyframes appear {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fade-content {
  0% { background-color: rgba(0,0,0,1.0); }
  100% { background-color: rgba(0,0,0,0.5); }
}

@keyframes show-nav {
  0% {
    background-color: rgba(109, 118, 120, 0);
    height: 0;
    opacity: 0;
  }

  100% {
     background-color: rgba(109, 118, 120, 1);
     height: 44px;
     opacity: 1.0
   }
}

@keyframes hide-nav {
  0% {
     background-color: rgba(109, 118, 120, 1);
     height: 44px;
     opacity: 1;
   }

  100% {
    background-color: rgba(109, 118, 120, 0);
    height: 0;
    opacity: 0;
  }

}

html, body {
  height: 100%;
}

body {
  text-align: center;
  font-family: $bodyFont;
  font-size: 20px;
  color: $darkSilverColor;
  background-color: $lightSilverColor;
  margin: 0;
  padding: 0;

  h1 {
    font-size: 128px;
    color: white;
    &.fancy {
      font-size: 96px;
    }
  }

  h2 {
    color: white;
    font-size: 96px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 36px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $headingFont;
  }

  a {
    color: black;
    text-decoration: none;
    position: relative;
    &:hover {
      text-decoration: underline;
      color: black;
    }
    h4  {
      color: #FFEEDE;
      text-decoration: underline;
    }
    &.registry_link {
      img#williams_sonoma {
        width: 100px;
        height: auto;
      }
      img#bbandb {
        width: 200px;
        height: auto;
      }
    }
  }

  ul {
    list-style: none;
    li {
      span {
        font-size: 36px;
        font-style: italic;
        vertical-align: middle;
      }
      a {
        display: inline-block;
      }
    }
  }

  nav {
    height: 0;
    opacity: 0;
    background-color: rgba(109, 118, 120, 1);
    // background-color: rgba(171, 191, 120, 1);

    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 28px;
      margin-bottom: 0;
      color: white;
    }
    &.visible {
      height: 44px;
      animation: show-nav 0.25s;
      opacity: 1.0;
    }
    &.hiding {
      animation: hide-nav 0.25s;
      height: 0;
      opacity: 0;
    }
  }

  section {
    display: flex;

    .faded-content {
      &.reveal {
        animation: fade-content 1s;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 100%;
    }

    &.full-height {
      min-height: 100%;
    }

    &.half-height {
      min-height: 50%;
    }

    &.centered {
      align-items: center;
    }

    &:not(.parallax) {
      color: $darkSilverColor;
      background-color: $lightSilverColor;
      align-content: center;
      padding: 20px;
      border-bottom: 1px solid $lightSilverColor;

      h2, h4 {
        color: $tealColor;
      }

      p, a {
        color: rgba(0, 0, 0, 0.5);
        font-size: 24px;
      }

      a {
        text-decoration: underline;
        &:hover {
          color: $tealColor;
        }
      }

      .image-frame {
        border-radius: 4px;
        min-width: 100%;
        min-height: 500px;
        border: 10px solid white;
        background-position: center;
        background-size: cover;
        background-origin: padding-box;
        background-repeat: no-repeat;


        &.st-francis {
          background-image: url('/images/locations/St_Francis.jpg');
        }

        &.the-laurel {
          background-image: url('/images/locations/the_laurel.jpg');
        }
        img {
          // max-height: 500px;
          // max-width: 96/0px;
        }
      }
    }
  }

  input[type='submit'] {
    background-color: white;
  }

  #stories {
    padding: 88px 20px;
    .row {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      align-items: center;
    }
    border-bottom: 1px solid $lightSilverColor;
    h4 {
      font-family: $bodyFont;
      text-align: center;
    }
  }

  #ceremony, #locations {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header {
    h1,h2{
      animation: appear 1.0s;
    }
  }

  #footer {
    padding-bottom: 0;
  }

  #party, #kids, #families {
    li {
      color: $darkSilverColor;
    }
  }

  #hotels {
    ul {
      list-style: circle;
      list-style-position: inside;
      text-align: center;
    }
  }

  #registry-info {
    .columns {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}
